<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>PyCoders Solitaire Infosys Pvt. Ltd</title>
  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

    .alert {
      margin: 0px;
    }
  </style>
  <title>PyCoders Solitaire Infosys Pvt. Ltd</title>
</head>

<body>


  {% include "hospital/navbar.html" %}
  <br><br><br>

  <div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Faculty</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Campus</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Services</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
  <center>
    <h3 class='alert alert-success' style="margin-bottom:0px;">About Us !</h3>
  </center>
  <div class="jumbotron" style="margin-bottom: 0px;margin-top: 0px;">
    <h1 class="display-4"></h1>
    
    <p class="lead">Hii My name is Muzamil Manzoor Bhat and i am a full stack developer with a really good problem solving ability eager to work and have skills like django ,tkinter GUI ,html ,css ,javascript ,mysql , github as well rest you can check my profile or contact me in the bottom i have 
      my contact details and i am from gandebal kashmir.Thanks for Visiting this Website.
      This is a django project with admin doctor and pateint login panel delivering a really good backend process to send , recieve and update data and you can also login to the 
      admin panel with /admin url .
    </p>
    <hr class="my-4">
    <p>Explore our Website.

    </p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/" role="button">HOME</a>
    </p>
  </div>
  {% include "hospital/footer.html" %}
</body>

</html>
